.employMain{
    width: 100%;
    height: 100%;
}
.formSection{
    height: 100vh;
    margin-top: 80px;
    width: 100%;
}
.formSectionDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.formSectionDiv h2{
    font-size: 40px;
    font-weight: 800;
}
.formSection .regBox .fgPwdRPwsd{
    display: flex;
    justify-content: space-between;
    width: 98%;
    font-size: 12px;
    color: #909090;
    align-items: center;
}

.formSection .regBox .fgPwdRPwsd .checkbox{
    display: flex;
}

.formSection .regBox .fgPwdRPwsd input{
    width: 20px;
    margin-left: 5px;
 
}

.formSection .regBox .fgPwdRPwsd a{
    text-decoration: none;
    color: #909090;
}

.regBox .boxPos p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}
.inputWrpapper{
    border: 1px solid #2376E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 40px;
}
.inputWrpapper input{
    width: 330px;
    height: 35px;
    border: none;
    outline: none;
}
.btnWrapper{
    display: flex;
    justify-content: center;
}
.btn{
    width: 320px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid  #2376E2;
    background: #2376E2;
    font-size: 16px;
    color: white;
}
.btn:hover{
    cursor: pointer;
    background:  #184894;
    color: white;
    border: 1px solid  #184894;
}
.btn:active{   
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and ( max-width: 650px) {
    .inputWrpapper{
        width: 300px;
    }
    .inputWrpapper input{
        width: 230px;
    }
    .btn{
        width: 230px;
    }
}