.container{
    width: 100%;
    height: 100%;
}
.container h2{
    font-size: 40px;
    font-weight: 800;
}
.formSections{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accountTypeForm{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.accountTypeForm a{
    text-decoration: none;
    width: 400px;
    text-align: left;
    padding: 16px 8px;
    border: 1px solid #919191;
    box-sizing: border-box;
    background: white;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    color: #000009; 
}
.formSections .accountTypeForm a:hover{
    background-color: rgb(27, 93, 27);
    color: white;
}
.formSections .accountTypeForm a:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and ( max-width: 650px) {
    .accountTypeForm{
        height: 45%;
    }
    .accountTypeForm a{
        width: 300px; 
    }
    .container h2{
        font-size: 36px;
    }
}